/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@100..900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 56px;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --orange-color: #f39f20;
  --green-color: #0ac297;
  --blue-color: #0d96f2;
  --white-color: #ffffff;
  --black-color: #131416;

  /*========== Font and typography ==========*/
  --body-font: "Montserrat", sans-serif;
  --second-font: "Dancing Script", cursive;
  --biggest-font-size: 80px;
  --big-font-size: 32px;
  --normal-font-size: 15px;
  --small-font-size: 13px;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 240px;
    --big-font-size: 96px;
    --normal-font-size: 16px;
    --small-font-size: 14px;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--white-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 24px;
}

.main {
  overflow: hidden;
}

.car__orange {
  --color-car: var(--orange-color);
}

.car__green {
  --color-car: var(--green-color);
}

.car__blue {
  --color-car: var(--blue-color);
}

/*=============== HEADER & NAV ===============*/
.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: var(--z-fixed);
}

.nav{
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo, .nav__link{
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
}

.nav__toggle, .nav__close{
  width: 32px;
  height: 32px;
  display: grid;
  place-items: center;
  border: 2px solid var(--white-color);
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
}

.nav__menu{
  position: fixed;
  top: 0;
  right: -100%;
  background-color: rgba(19, 20, 22, 0.7);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  width: 80%;
  height: 100%;
  padding: 112px 56px 56px;
  transition: right .4s;
}

.nav__list{
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

.nav__close{
  position: absolute;
  top: 12px;
  right: 24px;
}

/* Show menu */
.show-menu{
  right: 0;
}

/* Add blur header */


/*=============== HOME ===============*/
.home__article{
  position: relative;
  padding-top: 192px;
  width: 100%;
  height: 100vh;
}

.home__panel-1{
  width: 100%;
  height: 40%;
  background-color: var(--color-car);
  position: absolute;
  left: 0;
  top: 0;
}

.home__panel-2{
  width: 100%;
  height: 60%;
  background-color: var(--black-color);
  position: absolute;
  left: 0;
  bottom: 0;
}

.home__content{
  position: relative;
  height: 100%;
  display: grid;
  align-content: space-between;
  z-index: 1;
}

.home__data{
  position: relative;
}

.home__titles{
  width: max-content;
  margin-inline: auto;
}

.home__subtitle{
  font-size: var(--big-font-size);
  font-family: var(--second-font);
}

.home__title{
  font-size: var(--biggest-font-size);
}

.home__img{
  max-width: initial;
  width: 400px;
  position: absolute;
  left: 0;
  bottom: -128px;
}

.home__info{
  padding-bottom: 48px;
  text-align: center;
  display: grid;
  row-gap: 32px;
}

.home__specs{
  display: flex;
  justify-content: center;
  column-gap: 24px;
  font-weight: var(--font-semi-bold);
  color: var(--color-car);
}

.home__button{
  display: inline-flex;
  justify-self: center;
  align-items: center;
  column-gap: 8px;
  border: 2px solid var(--color-car);
  padding: 12px 24px;
  border-radius: 64px;
  color: var(--color-car);
}

.home__button span{
  font-weight: var(--font-semi-bold);
}

.home__button i{
  font-size: 24px;
  transition: transform 0.4s;
}

.home__button:hover i{
  transform: translateX(8px);
}

.home__interaction{
  position: absoulute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.home__social{
  position: absolute;
  top: 64px;
  left: 24px;
  display: grid;
  justify-items: center;
  row-gap: 12px;
  z-index: 10;
}

.home__social-link{
  font-size: 20px;
  color: var(--black-color);
}

.home__social-border{
  width: 2px;
  height: 80px;
  background-color: var(--white-color);
  margin-bottom: 12px;
}

/* Swiper class */


/* Swiper animation */


/*=============== BREAKPOINTS ===============*/
/* For small devices */


/* For medium devices */


/* For large devices */


/* For taller devices */
