/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@100..900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 56px;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --orange-color: #f39f20;
  --green-color: #0ac297;
  --blue-color: #0d96f2;
  --white-color: #ffffff;
  --black-color: #131416;

  /*========== Font and typography ==========*/
  --body-font: "Montserrat", sans-serif;
  --second-font: "Dancing Script", cursive;
  --biggest-font-size: 80px;
  --big-font-size: 32px;
  --normal-font-size: 15px;
  --small-font-size: 13px;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 240px;
    --big-font-size: 96px;
    --normal-font-size: 16px;
    --small-font-size: 14px;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--white-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 24px;
}

.main {
  overflow: hidden;
}

.car__orange {
  --color-car: var(--orange-color);
}

.car__green {
  --color-car: var(--green-color);
}

.car__blue {
  --color-car: var(--blue-color);
}

/*=============== HEADER & NAV ===============*/
.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--orange-color);
  z-index: var(--z-fixed);
}

.nav{
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo, .nav__link{
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
}

.nav__toggle, .nav__close{
  width: 32px;
  height: 32px;
  display: grid;
  place-items: center;
  border: 2px solid var(--white-color);
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
}

.nav__menu{
  position: fixed;
  top: 0;
  right: -100%;
  background-color: rgba(19, 20, 22, 0.7);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  width: 80%;
  height: 100%;
  padding: 112px 56px 56px;
  transition: right .4s;
}

.nav__list{
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

.nav__close{
  position: absolute;
  top: 12px;
  right: 24px;
}

/* Show menu */
.show-menu{
  right: 0;
}

/* Add blur header */


/*=============== HOME ===============*/


/* Swiper class */


/* Swiper animation */


/*=============== BREAKPOINTS ===============*/
/* For small devices */


/* For medium devices */


/* For large devices */


/* For taller devices */
